/* Write your CSS here! */

/* 2c  id */
#mainHeading {
    color: red;
}

#mainHeading {
    text-align:center;
}

h2 {
  text-align: center;
  font-size: 3.0em;
}

p {
    margin: 35px 20px 35px 20px;
  }
  img {
    padding: 5px 5px;
  }

  /* 2a element */
  body {
    margin: 8px;
    display: block
  }


  /* 2b and 3c class */
    .funParagraph {
    color: green;
  }
  
   /* TRYING TO DO A BACKGROUND COLOR */
   
   header, footer {
    background-color: rgb(221, 172, 37);
    font-size: 2.0em;
}

  .funParagraph, p {
   background-color: rgb(163, 197, 153);
   font-size: 2.0em;
}


      /* body {
     background-color: #eee595;
   } */
 

  /* TRYING TO CENTER MY IMAGES  */
  /* .centeredImage {
    text-align: center;
  } */

  /* img { 
    float: left; 
  } */


  /* div.rightside_image {
    float: right;
    padding: 10px;
    margin: 10px;
    border: 2px solid #cccccc;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    } */
